body {
  font-family: 'Open Sans', sans-serif;
  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background: -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background: linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
}

#main-page-title {
  text-align: center;
  color: #f07057
}

.city-block {
  border: 10px solid transparent;
  padding: 0;
  height: 400px;
}

.image-holder {
  width: 100%;
  height: 100%;
}

.city-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 25%;
  border: 3px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(33, 29, 34, 0.63);
  width: 50%;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #ffffff;
  background-color: rgba(11, 9, 12, 0.73);
  width: 75%;
}

.title-row {
  margin-top: 100px;
  margin-bottom: 50px;
}

.apartment-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.masonry-img {
  width: 100%;
}
.masonry-brick {
  padding: 10px;
}

.apartment-link {
  color: #f07057
}
.apartment-short-desc {
  padding-top: 10px;
}
.apartment-address {
  padding-bottom: 20px;
}
