<div class="title-row row">
  <h3 id="main-page-title" class="col-lg-6 col-lg-offset-3">Where do you want to look for apartments ?</h3>
</div>
<div class="city-container row">

  <div class="row city-block-row">
    <div class="city-block col-lg-6 col-md-6 col-sm-6">
      <a href="#/city/seattle" class="image-holder">
        <img class="city-image" src="images/seattle-city-block.jpg"/>

        <h2 class="image-text">Seattle</h2>
      </a>
    </div>

    <div class="city-block col-lg-6 col-md-6 col-sm-6">
      <a href="#/city/bellevue" class="image-holder">
        <img class="city-image" src="images/bellevue-city-block.jpg"/>

        <h2 class="image-text">Bellevue</h2>
      </a>
    </div>
  </div>

  <div class="row city-block-row">
    <div class="city-block col-lg-6 col-md-6 col-sm-6">
      <a href="#/city/redmon" class="image-holder">
        <img class="city-image" src="images/redmond-city-block.jpg"/>

        <h2 class="image-text">Redmond</h2>
      </a>
    </div>

    <div class="city-block col-lg-6 col-md-6 col-sm-6">
      <a href="#/city/kirkland" class="image-holder">
        <img class="city-image" src="images/kirkland-city-block.jpg"/>

        <h2 class="image-text">Kirkland</h2>
      </a>
    </div>
  </div>

  <div class="row city-block-row">
    <div class="city-block col-lg-6 col-md-6 col-sm-6">
      <a href="#/city/tacoma" class="image-holder">
        <img class="city-image" src="images/tacoma-city-block.JPG"/>

        <h2 class="image-text">Tacoma</h2>
      </a>
    </div>

    <div class="city-block col-lg-6 col-md-6 col-sm-6">
      <a href="#/city/olympia" class="image-holder">
        <img class="city-image" src="images/olympia-city-block.jpg"/>

        <h2 class="image-text">Olympia</h2>
      </a>
    </div>
  </div>

</div>


