<div class="head-container container">
    <h1 id="main-page-title">Top Rentals Every Day</h1>
    <h3 id="main-page-subtitle" class="col-lg-6 col-lg-offset-3">Your new home is waiting for you</h3>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <form>
                <fieldset class="combo-form">
                    <input type="text" class="search-bar"
                           placeholder="Where would you like to live?">
                    <button type="submit" class="btn btn-orange btn-search">
                        <span class="btn-search-inner">
                            <img src="../images/search.png" class="search-logo img-responsive">
                        </span>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="container city-container">
    <h4 class="text-center">Browse Collection</h4>
    <div class="row city-block-row">
        <div class="city-block col-sm-6 col-md-3">
            <a href="#/city/redmond" class="image-holder">
                <img class="city-image img-responsive" src="images/redmond-city-block.jpg"/>

                <h3 class="image-text">Redmond</h3>
            </a>
        </div>
        <div class="city-block col-sm-6 col-md-3">
            <a href="#/city/tacoma" class="image-holder">
                <img class="city-image img-responsive" src="images/tacoma-city-block.JPG"/>

                <h3 class="image-text">Tacoma</h3>
            </a>
        </div>


        <div class="city-block col-sm-12 col-md-6">
            <a href="#/city/olympia" class="image-holder">
                <img class="city-image img-responsive" src="images/olympia-city-block.jpg"/>

                <h3 class="image-text">Olympia</h3>
            </a>
        </div>
    </div>


    <div class="row city-block-row">
        <div class="city-block col-sm-4 col-md-3">
            <a href="#/city/seattle" class="image-holder">
                <img class="city-image img-responsive" src="images/seattle-city-block.jpg"/>

                <h3 class="image-text">Seattle</h3>
            </a>
        </div>


        <div class="city-block col-sm-4 col-md-6">
            <a href="#/city/kirkland" class="image-holder">
                <img class="city-image img-responsive" src="images/kirkland-city-block.jpg"/>

                <h3 class="image-text">Kirkland</h3>
            </a>
        </div>

        <div class="city-block col-sm-4 col-md-3">
            <a href="#/city/bellevue" class="image-holder">
                <img class="city-image img-responsive" src="images/bellevue-city-block.jpg"/>

                <h3 class="image-text">Bellevue</h3>
            </a>
        </div>

    </div>

</div>


